:root {
  --heading-color: #ddd;
  --accent-color: #89CFF0;
  --sans-font: -apple-system, BlinkMacSystemFont, "Avenir Next", Avenir,
    "Nimbus Sans L", Roboto, "Noto Sans", "Segoe UI", Arial, Helvetica,
    "Helvetica Neue", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  color: var(--heading-color);
  font-family: var(--sans-font);
}

b,
strong {
  color: #fff;
}

a {
  color: var(--accent-color);
  text-decoration: underline;
  text-decoration-thickness: 1.5px;
  text-underline-offset: 2px;
  transition:
    color 0.2s ease-in-out,
    text-decoration-thickness 0.2s;
}

a:hover, a:focus {
  color: #fff;
  text-decoration-thickness: 3px;
  text-decoration-color: var(--accent-color);
}

html {
  color: #ccc;
  font-family: var(--sans-font);
  font-size: 1.2em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #111;
}

body {
  width: 800px;
  padding: 15px;
  display: flex;
  flex-direction: column;
}

pre>code {
  border: none;
  padding: 15px;
  font-family: monospace, monospace;
  font-size: 1em;
  line-height: 1.3em !important;
  display: inline-block;
  box-sizing: border-box;
  min-width: 100%;
}

pre {
  color: white;
  border-radius: 6px;
  margin: 0;
  padding: 0;
  background-color: #1E1E1E !important;
  font-size: 0.85em;
  overflow: auto;
}

code {
  border-radius: 4px;
  border: 1px solid var(--accent-color);
  padding: 3px;
  font-size: 1.1em;
}

blockquote {
   margin-left: -1.75rem;
   margin-right: 1.75rem;
   margin-top: 0;
   padding-bottom: 0;
   padding-left: 1.42188rem;
   padding-right: 0;
   padding-top: 0;
   margin-bottom: 1.75rem;
   font-size: 1.20112rem;
   line-height: 1.75rem;
   color: hsla(0, 0%, 0%, 0.79);
   font-style: italic;
   border-left: 0.32813rem solid hsla(0, 0%, 0%, 0.9);
 }

 blockquote p {
   margin: 0;
   margin-bottom: 15px;
 }

.site-title {
  font-size: 2.5em;
  margin-bottom: 10px;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: left;
  font-size: 1.2em;
  margin-bottom: 20px;
}

.block {
  border: 1px dotted white;
  padding: 5px 15px;
  margin: 0 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.block h1 {
  font-size: 1em;
  text-align: center;
  margin-bottom: 0;
}

.small {
  font-size: 0.8em;
}

.wave {
  background: #111;
  color: #fff;
  text-shadow: 1px 1px 10px #fff, 1px 1px 10px #ccc;
}

footer {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer hr {
  width: 100%;
}
